@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');


body{
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color:white;
}


.logo{
  font-family: 'Jura', sans-serif;

}

.coin-input{
  border:none;
  background-image: linear-gradient(-225deg,#ffffff 0%,#838383 48%,#c8c6cc 100%);
}


.container {
  padding-right: 4.5rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  /* border: 5px solid red; */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    
    
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    
  }
}